body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.canvas {
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    border: 1px solid red;
    width: 480px;
    height: 480px;
    
}

